<% include ./partials/navbar %>
<%users.forEach(function(user){%>
    <div class='container'>
        <a class='btn btn-success btn-block btn-lg' href="/user/<%=user._id%>"><%=user.name%></a>
    </div>

<%})%>
<%include ./partials/footer%>